.card-container {
    position: relative;
}

.action-card{
    position: absolute;
    top: 0;
    right: 10px;
}

.card-trip {
    overflow: hidden;
}

.card-imgTrip{
    object-fit: cover;
	object-position: center;
	height: 25vh;
    transition: all ease-in-out 0.4s;
}

.card-imgTrip:hover{
    transform: scale(1.1);
}

