footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f7f7f7;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  .list-inline {
    padding-left: 0;
    list-style: none;
  }
  
  .list-inline-item {
    display: inline-block;
  }
  .list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
  }